@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style1 {
    background-color: #f8f8f8;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 667px;
    flex-direction: column
  }
  .container0row0 {
    position: relative;
    display: flex;
    margin-left: 17px;
    margin-top: 36px;
    width: 335px;
    height: 36px
  }
  .style15 {
    position: relative;
    margin-left: 0;
    width: 36px;
    height: 34px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style13 {
    background-color: #b9b9b9;
    margin-left: 176px;
    width: 3px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style17 {
    opacity: .4;
    margin-left: 20px;
    width: 23px;
    height: 19px
  }
  .style14,
  .style16,
  .style17 {
    align-self: center;
    flex-shrink: 0
  }
  .style14 {
    background-color: #343434;
    margin-left: 15px;
    width: 23px;
    height: 21px
  }
  .style16 {
    opacity: .4;
    margin-left: 18px;
    width: 21px;
    height: 18px
  }
  .style8,
  .style9 {
    align-items: center;
    justify-content: center
  }
  .style8 {
    background-color: #f95c4b;
    display: flex;
    margin-left: 50px;
    margin-top: 169px;
    flex-direction: column;
    border-top-left-radius: 116px;
    border-top-right-radius: 116px;
    border-bottom-left-radius: 116px;
    border-bottom-right-radius: 116px;
    opacity: .2;
    width: 228px;
    height: 228px
  }
  .style9 {
    border-top-left-radius: 105px;
    border-top-right-radius: 105px;
    border-bottom-left-radius: 105px;
    border-bottom-right-radius: 105px;
    opacity: .4;
    width: 207px;
    height: 207px
  }
  .style10,
  .style11,
  .style9 {
    background-color: #f95c4b;
    display: flex;
    flex-direction: column
  }
  .style10 {
    align-items: center;
    justify-content: center;
    border-top-left-radius: 92px 93px;
    border-top-right-radius: 92px 93px;
    border-bottom-left-radius: 92px 93px;
    border-bottom-right-radius: 92px 93px;
    opacity: .6;
    width: 181px;
    height: 182px
  }
  .style11 {
    border-top-left-radius: 78px;
    border-top-right-radius: 78px;
    border-bottom-left-radius: 78px;
    border-bottom-right-radius: 78px;
    opacity: .8;
    width: 152px;
    height: 152px
  }
  .style12 {
    margin-left: 59px;
    margin-top: 38px;
    width: 44px;
    height: 54px
  }
  .container0row2 {
    position: relative;
    display: flex;
    margin-top: 101px;
    width: 294px;
    height: 54px;
    align-self: center
  }
  .style7 {
    margin-left: 0;
    width: 42px;
    height: 34px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style4 {
    position: relative;
    margin-left: 18px;
    margin-top: 17px;
    width: 47px;
    height: 40px;
    flex-shrink: 0
  }
  .container0row2column2 {
    display: flex;
    margin-left: 17px;
    width: 44px;
    height: 100%;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style3 {
    background-color: #f8f8f8;
    border-left: 4px solid #dfdfdf;
    border-right: 4px solid #dfdfdf;
    border-top: 4px solid #dfdfdf;
    border-bottom: 4px solid #dfdfdf;
    box-shadow: inset 0 0 20px 1px rgba(223,223,223,.33);
    height: 36px
  }
  .style6 {
    height: 54px
  }
  .style2,
  .style5 {
    margin-left: 17px;
    flex-shrink: 0
  }
  .style2 {
    position: relative;
    margin-top: 20px;
    width: 49px;
    height: 51px
  }
  .style5 {
    width: 42px;
    height: 38px;
    align-self: flex-end
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style1 {
    background-color: #f8f8f8;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1366px;
    flex-direction: column
  }
  .container0row0 {
    position: relative;
    display: flex;
    margin-left: 35px;
    margin-top: 74px;
    width: 686px;
    height: 74px
  }
  .style15 {
    position: relative;
    margin-left: 0;
    width: 74px;
    height: 70px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style13 {
    background-color: #b9b9b9;
    margin-left: 360px;
    width: 6px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style17 {
    opacity: .4;
    margin-left: 41px;
    width: 47px;
    height: 39px
  }
  .style14,
  .style16,
  .style17 {
    align-self: center;
    flex-shrink: 0
  }
  .style14 {
    background-color: #343434;
    margin-left: 31px;
    width: 47px;
    height: 43px
  }
  .style16 {
    opacity: .4;
    margin-left: 37px;
    width: 43px;
    height: 37px
  }
  .style8,
  .style9 {
    align-items: center;
    justify-content: center
  }
  .style8 {
    background-color: #f95c4b;
    display: flex;
    margin-left: 102px;
    margin-top: 346px;
    flex-direction: column;
    border-top-left-radius: 116px;
    border-top-right-radius: 116px;
    border-bottom-left-radius: 116px;
    border-bottom-right-radius: 116px;
    opacity: .2;
    width: 467px;
    height: 467px
  }
  .style9 {
    border-top-left-radius: 105px;
    border-top-right-radius: 105px;
    border-bottom-left-radius: 105px;
    border-bottom-right-radius: 105px;
    opacity: .4;
    width: 424px;
    height: 424px
  }
  .style10,
  .style11,
  .style9 {
    background-color: #f95c4b;
    display: flex;
    flex-direction: column
  }
  .style10 {
    align-items: center;
    justify-content: center;
    border-top-left-radius: 92px 93px;
    border-top-right-radius: 92px 93px;
    border-bottom-left-radius: 92px 93px;
    border-bottom-right-radius: 92px 93px;
    opacity: .6;
    width: 371px;
    height: 373px
  }
  .style11 {
    border-top-left-radius: 78px;
    border-top-right-radius: 78px;
    border-bottom-left-radius: 78px;
    border-bottom-right-radius: 78px;
    opacity: .8;
    width: 311px;
    height: 311px
  }
  .style12 {
    margin-left: 121px;
    margin-top: 78px;
    width: 90px;
    height: 111px
  }
  .container0row2 {
    position: relative;
    display: flex;
    margin-top: 207px;
    width: 602px;
    height: 111px;
    align-self: center
  }
  .style7 {
    margin-left: 0;
    width: 86px;
    height: 70px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style4 {
    position: relative;
    margin-left: 37px;
    margin-top: 35px;
    width: 96px;
    height: 82px;
    flex-shrink: 0
  }
  .container0row2column2 {
    display: flex;
    margin-left: 35px;
    width: 90px;
    height: 100%;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style3 {
    background-color: #f8f8f8;
    border-left: 4px solid #dfdfdf;
    border-right: 4px solid #dfdfdf;
    border-top: 4px solid #dfdfdf;
    border-bottom: 4px solid #dfdfdf;
    box-shadow: inset 0 0 20px 1px rgba(223,223,223,.33);
    height: 74px
  }
  .style6 {
    height: 111px
  }
  .style2,
  .style5 {
    margin-left: 35px;
    flex-shrink: 0
  }
  .style2 {
    position: relative;
    margin-top: 41px;
    width: 100px;
    height: 104px
  }
  .style5 {
    width: 86px;
    height: 78px;
    align-self: flex-end
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style1 {
    background-color: #f8f8f8;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1636px;
    flex-direction: column
  }
  .container0row0 {
    position: relative;
    display: flex;
    margin-left: 42px;
    margin-top: 88px;
    width: 822px;
    height: 88px
  }
  .style15 {
    position: relative;
    margin-left: 0;
    width: 88px;
    height: 83px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style13 {
    background-color: #b9b9b9;
    margin-left: 432px;
    width: 7px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style17 {
    opacity: .4;
    margin-left: 49px;
    width: 56px;
    height: 47px
  }
  .style14,
  .style16,
  .style17 {
    align-self: center;
    flex-shrink: 0
  }
  .style14 {
    background-color: #343434;
    margin-left: 37px;
    width: 56px;
    height: 52px
  }
  .style16 {
    opacity: .4;
    margin-left: 44px;
    width: 52px;
    height: 44px
  }
  .style8,
  .style9 {
    align-items: center;
    justify-content: center
  }
  .style8 {
    background-color: #f95c4b;
    display: flex;
    margin-left: 123px;
    margin-top: 415px;
    flex-direction: column;
    border-top-left-radius: 116px;
    border-top-right-radius: 116px;
    border-bottom-left-radius: 116px;
    border-bottom-right-radius: 116px;
    opacity: .2;
    width: 559px;
    height: 559px
  }
  .style9 {
    border-top-left-radius: 105px;
    border-top-right-radius: 105px;
    border-bottom-left-radius: 105px;
    border-bottom-right-radius: 105px;
    opacity: .4;
    width: 508px;
    height: 508px
  }
  .style10,
  .style11,
  .style9 {
    background-color: #f95c4b;
    display: flex;
    flex-direction: column
  }
  .style10 {
    align-items: center;
    justify-content: center;
    border-top-left-radius: 92px 93px;
    border-top-right-radius: 92px 93px;
    border-bottom-left-radius: 92px 93px;
    border-bottom-right-radius: 92px 93px;
    opacity: .6;
    width: 444px;
    height: 447px
  }
  .style11 {
    border-top-left-radius: 78px;
    border-top-right-radius: 78px;
    border-bottom-left-radius: 78px;
    border-bottom-right-radius: 78px;
    opacity: .8;
    width: 373px;
    height: 373px
  }
  .style12 {
    margin-left: 145px;
    margin-top: 93px;
    width: 108px;
    height: 132px
  }
  .container0row2 {
    position: relative;
    display: flex;
    margin-top: 248px;
    width: 721px;
    height: 132px;
    align-self: center
  }
  .style7 {
    margin-left: 0;
    width: 103px;
    height: 83px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style4 {
    position: relative;
    margin-left: 44px;
    margin-top: 42px;
    width: 115px;
    height: 98px;
    flex-shrink: 0
  }
  .container0row2column2 {
    display: flex;
    margin-left: 42px;
    width: 108px;
    height: 100%;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style3 {
    background-color: #f8f8f8;
    border-left: 4px solid #dfdfdf;
    border-right: 4px solid #dfdfdf;
    border-top: 4px solid #dfdfdf;
    border-bottom: 4px solid #dfdfdf;
    box-shadow: inset 0 0 20px 1px rgba(223,223,223,.33);
    height: 88px
  }
  .style6 {
    height: 132px
  }
  .style2,
  .style5 {
    margin-left: 42px;
    flex-shrink: 0
  }
  .style2 {
    position: relative;
    margin-top: 49px;
    width: 120px;
    height: 125px
  }
  .style5 {
    width: 103px;
    height: 93px;
    align-self: flex-end
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style1 {
    background-color: #f8f8f8;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2134px;
    flex-direction: column
  }
  .container0row0 {
    position: relative;
    display: flex;
    margin-left: 54px;
    margin-top: 115px;
    width: 1072px;
    height: 115px
  }
  .style15 {
    position: relative;
    margin-left: 0;
    width: 115px;
    height: 109px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style13 {
    background-color: #b9b9b9;
    margin-left: 563px;
    width: 10px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style17 {
    opacity: .4;
    margin-left: 64px;
    width: 74px;
    height: 61px
  }
  .style14,
  .style16,
  .style17 {
    align-self: center;
    flex-shrink: 0
  }
  .style14 {
    background-color: #343434;
    margin-left: 48px;
    width: 74px;
    height: 67px
  }
  .style16 {
    opacity: .4;
    margin-left: 58px;
    width: 67px;
    height: 58px
  }
  .style8,
  .style9 {
    align-items: center;
    justify-content: center
  }
  .style8 {
    background-color: #f95c4b;
    display: flex;
    margin-left: 160px;
    margin-top: 541px;
    flex-direction: column;
    border-top-left-radius: 116px;
    border-top-right-radius: 116px;
    border-bottom-left-radius: 116px;
    border-bottom-right-radius: 116px;
    opacity: .2;
    width: 730px;
    height: 730px
  }
  .style9 {
    border-top-left-radius: 105px;
    border-top-right-radius: 105px;
    border-bottom-left-radius: 105px;
    border-bottom-right-radius: 105px;
    opacity: .4;
    width: 662px;
    height: 662px
  }
  .style10,
  .style11,
  .style9 {
    background-color: #f95c4b;
    display: flex;
    flex-direction: column
  }
  .style10 {
    align-items: center;
    justify-content: center;
    border-top-left-radius: 92px 93px;
    border-top-right-radius: 92px 93px;
    border-bottom-left-radius: 92px 93px;
    border-bottom-right-radius: 92px 93px;
    opacity: .6;
    width: 579px;
    height: 582px
  }
  .style11 {
    border-top-left-radius: 78px;
    border-top-right-radius: 78px;
    border-bottom-left-radius: 78px;
    border-bottom-right-radius: 78px;
    opacity: .8;
    width: 486px;
    height: 486px
  }
  .style12 {
    margin-left: 189px;
    margin-top: 122px;
    width: 141px;
    height: 173px
  }
  .container0row2 {
    position: relative;
    display: flex;
    margin-top: 323px;
    width: 941px;
    height: 173px;
    align-self: center
  }
  .style7 {
    margin-left: 0;
    width: 134px;
    height: 109px;
    align-self: flex-end;
    flex-shrink: 0
  }
  .style4 {
    position: relative;
    margin-left: 58px;
    margin-top: 54px;
    width: 150px;
    height: 128px;
    flex-shrink: 0
  }
  .container0row2column2 {
    display: flex;
    margin-left: 54px;
    width: 141px;
    height: 100%;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style3 {
    background-color: #f8f8f8;
    border-left: 4px solid #dfdfdf;
    border-right: 4px solid #dfdfdf;
    border-top: 4px solid #dfdfdf;
    border-bottom: 4px solid #dfdfdf;
    box-shadow: inset 0 0 20px 1px rgba(223,223,223,.33);
    height: 115px
  }
  .style6 {
    height: 173px
  }
  .style2,
  .style5 {
    margin-left: 54px;
    flex-shrink: 0
  }
  .style2 {
    position: relative;
    margin-top: 64px;
    width: 157px;
    height: 163px
  }
  .style5 {
    width: 134px;
    height: 122px;
    align-self: flex-end
  }
}